<div class="container">
<div class="row">
  <div class="col d-flex flex-column align-items-center">
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-login') do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :avatar %><br />
        <%= f.file_field :avatar%>
      </div>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true,
        class: 'form-control input-sm chat-input'%>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email",
              class: 'form-control input-sm chat-input' %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",
              class: 'form-control input-sm chat-input' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",
              class: 'form-control input-sm chat-input' %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-primary mt-3' %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
