<%= form_with model: @comment, url: add_comment_path(@comment.post_id), local: true do |f| %>
  <%= f.text_area :content, cols: 60, rows: 5, class: 'mt-3' %>
  <%= f.submit 'Add', class: 'btn btn-success' %>
<% end %>
