<h1>All Users</h1>
<% @users.each do |user| %>
<h2><%= user.name %></h2>
<div class="container">
  <div class="row">
    <div class='col d-flex flex-row'>
      <%= link_to user_path(user.id) do %>
          <%= image_tag user.avatar, size: 50, class: "group" %>
      <% end %>
    <div class="col-4">
      <% user ||= current_user %>
        <div>
            <strong>
              <%= link_to following_user_path(user) do %>
                <%= user.following.count %>
                following
              <% end %>
            </strong>
            <strong>
              <%= link_to followers_user_path(user) do %>
                <%= user.followers.count %>
                followers
              <% end %>
            </strong>
        </div>
      <p><%= user.email %></p>
</div>
<% end %>
