<h1><%= @user.name %></h1>
<div class="container">
  <div class="row">
    <div class='col-8 d-flex flex-row'>
      <%= link_to user_path(@user.id) do %>
          <%= image_tag @user.avatar, size: 50, class: "group" %>
      <% end %>
    <div class="col-4">
      <% @user ||= current_user %>
        <div>
            <strong>
              <%= link_to following_user_path(@user) do %>
                <%= @user.following.count %>
                following
              <% end %>
            </strong>
            <strong>
              <%= link_to followers_user_path(@user) do %>
                <%= @user.followers.count %>
                followers
              <% end %>
            </strong>
        </div>
      <p><%= @user.email %></p>
      <% if  @user.id != current_user.id %>
        <div>
          <% if current_user.following?(@user) %>
            <%= form_with model: current_user.active_relationships.find_by(followed_id: @user.id),
                          url: unfollow_path(@user.id),
                          method: :delete do |f| %>
                  <%= f.submit "Unfollow", class: "btn btn-danger" %>
            <% end %>
          <% else %>
            <%= form_with model: current_user.active_relationships.build,
                          url: follow_path(@user.id),
                          method: :post do |f| %>
              <%= f.submit "Follow", class: "btn btn-primary" %>
            <% end %>
        <% end %>
        </div>
      <% end %>
    </div>
    </div>
    <div class="col-4">
      <% if user_signed_in? && current_user.id == @user.id %>
        <%= render template: 'posts/new' %>
      <% end %>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row mt-3 justify-content-center">
    <div class="col">
      <% @user.posts.each do |post| %>
        <% if post.photos.attached? %>
          <% if post.photos.size > 1 %>
            <div class="col-3 mt-3">
              <div class="card" >
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <% post.photos.each_with_index do |image, index| %>
                      <li data-target='#carouselExampleControls' data-slide-to="#{index}" class="#{'active' if index == 0}"></li>
                    <% end %>
                  </ol>
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                        <%= link_to image_tag(post.photos.first, size: 250), post_path(post), class: "d-block w-100" %>
                      </div>
                      <% post.photos.drop(1).each do |image| %>
                        <div class="carousel-item">
                          <%= link_to image_tag(image, size: 250), post_path(post), class: "d-block w-100" %>
                        </div>
                      <% end %>
                  </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
          <% else %>
              <% post.photos.each do |image| %>
                <div class="col-3">
                  <div class="card" >
                    <%= link_to image_tag(image, size: 250), post_path(post) %>
                  </div>
                </div>
              <% end %>
          <% end %>
        <% end %>
      <%= post.caption %>
      <span>
        <%= link_to post_path(post) do %>
          <i class="fa fa-comment"></i>
        <% end %>
        |
        <% if post.likes.exists?(post.likes.where(user_id: current_user.id)) %>
          <%= link_to dislike_path(current_user.id, post.id), method: :delete do %>
            <i class="fa fa-heart"><%= post.likes.count%></i>
          <% end%>
        <% else %>
          <%= link_to like_path(current_user.id, post.id), method: :put do %>
            <i class="fa fa-heart-o"><%= post.likes.count%></i>
          <% end%>
        <% end %>
        |
        <% if post.photos.attached? && post.user_id == current_user.id  %>
          <%= link_to post_path(post.id), method: :delete do %>
              <i class="fa fa-trash"></i>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
    <% end %>
  </div>
</div>
