<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1><%= @user.name %></h1>
    </section>
    <section>
      <% if @users.any? %>
        <div>
          <% @users.each do |user| %>
            <%= link_to user.name, user_path(user.id) %>
          <% end %>
        </div>
      <% end %>
    </section>
    <span><%= link_to "Back", @user %></span>
  </aside>
