<nav class="navbar fixed-top navbar navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          &#x2630;
        </button>

        <% if user_signed_in? %>
          <%= link_to user_path(current_user.id), class: 'navbar-brand' do %>
            <%= image_tag("logo/logo.png", size: '75x50') %>
          <% end %>
          <%= link_to 'Profile', user_path(current_user.id), class: 'navbar-brand' %>
          <%= link_to 'Feed', posts_path, class: 'navbar-brand' %>
          <%= link_to 'Users', users_path, class: 'navbar-brand' %>
        <% else %>
            <%= image_tag("logo/logo.png", size: '75x50') %>
        <% end %>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <div class="dropdown show">
                <div>
                  <% if current_user.avatar.attached? %>
                    <%= link_to user_path(current_user.id) do %>
                      <%= image_tag current_user.avatar, size: 50, class: "group" %>
                    <% end %>
                  <% end %>
                </div>
                <%= link_to current_user.name, edit_user_registration_path(current_user), class: 'btn dropdown-toggle', 'role' => "button", 'id' => "dropdownMenuLink", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "false" %>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <%= link_to 'Edit profile', edit_user_registration_path(current_user), class: 'dropdown-item' %>
                  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                </div>
              <div>

              <% else %>
                  <div class="nav-item">
                     <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
                  </div>
                  <div class="nav-item">
                     <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
                  </div>
              <% end %>
            </div>
        </div>
    </div>
</nav>
