<div class="container ">
  <div class="row">
    <div class="col d-flex flex-column align-items-center">
      <h2>Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-login') do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control input-sm chat-input' %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control input-sm chat-input' %>

          <div class="col align-self-center d-flex flex-column align-items-center mt-3">
            <div class="actions group-btn">
              <%= f.submit "Log in", class: 'btn btn-primary' %>
            </div>
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
