<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-12">
    <% current_user.followers.each do |followed| %>
      <h1><%= followed.name %></h1>
        <div class="col-3 d-flex flex-column align-items-center">
          <% followed.posts.each do |post| %>
              <%if post.photos.attached? %>
                <% post.photos.each do |photo| %>
                  <%= image_tag photo, size: 250 %>
                <% end %>
              <% end %>
              <%= post.caption %>
              <span>
        </div>
              <%= link_to post_path(post) do %>
                <i class="fa fa-comment"></i>
              <% end %>
              |
              <% if post.likes.exists?(post.likes.where(user_id: current_user.id)) %>
                <%= link_to dislike_path(current_user.id, post.id), method: :delete do %>
                  <i class="fa fa-heart"><%= post.likes.count%></i>
                <% end%>
              <% else %>
                <%= link_to like_path(current_user.id, post.id), method: :put do %>
                  <i class="fa fa-heart-o"><%= post.likes.count%></i>
                <% end%>
              <% end %>
              |
              <% if post.photos.attached? && post.user_id == current_user.id  %>
                <%= link_to post_path(post.id), method: :delete do %>
                    <i class="fa fa-trash"></i>
                <% end %>
              <% end %>
          <% end %>
    <% end %>
</div>
</div>
</div>
