<h3>Добавить пост</h3>

<%= form_with model: @new_post, url: post_create_path(@new_post.user_id), local: true do |f| %>
  <%= f.file_field :photos, multiple: true %>
  <%= f.label :caption %>
  <%= f.text_area :caption, rows: 3, cols: 20, class: 'mt-3' %>

  <%= f.submit "Add", class: 'btn btn-success' %>
<% end %>
