<div class="container">
  <div class="row">
    <div class="col">
      <% if @post.photos.attached? %>
        <% @post.photos.each do |photo| %>
          <%= image_tag photo, size: 250 %>
        <% end %>
      <% end %>
      <% if @post.likes.exists?(@post.likes.where(user_id: current_user.id)) %>
        <%= link_to dislike_path(current_user.id, @post.id), method: :delete do %>
          <i class="fa fa-heart"><%= @post.likes.count%></i>
        <% end%>
      <% else %>
        <%= link_to like_path(current_user.id, @post.id), method: :put do %>
          <i class="fa fa-heart-o"><%= @post.likes.count%></i>
        <% end%>
      <% end %>
      <%= render template: 'comments/new' %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <% @post.comments.each do |comment| %>
                <div class="card-body">
                  <h5 class="card-title"><%= User.find(comment.user_id).name %>:</h5>
                  <p class="card-text"> <%= comment.content %></p>
                </div>
        <% end %>
      </div
    </div>
    <%= link_to 'Back', request.referer.present? ? request.referer : default_path %>
  </div>
</div>
