@import 'bootstrap';
@import 'font-awesome';


.form-control {
    border-radius: 10px;
}

.navbar {
  background: #00FF7F;
}

.content {
  margin-top: 100px;
}
.btn {
  color: 	#FFF;
}

.group {
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
  height: 50px;
  margin: 0 20px;
  // overflow: hidden;
  width: 50px;
}

.fa-heart {
  color: red;
}
